<md-content layout="vertical" flex id="content" layout-padding>
    <div layout="row" layout-align="center center" layout-fill>
        <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
            <md-content layout="row" layout-align="center center" flex="20">
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="$ctrl.user.username">
                </md-input-container>
                <md-input-container layout-align="center center">
                    <div layout="row" layout-sm="column" layout-margin>
                        <md-button class="md-raised md-primary" ng-click="$ctrl.login()">Login</md-button>
                    </div>
                </md-input-container>
            </md-content>
        </md-whiteframe>
    </div>
</md-content>
